header{
  text-align: center;
  font-size: 38px;
}

p.intro{
  font-size: 28px;
}





body{
  background-image: url("../images/atlas.jpeg");
  background-size: cover;
  
  background-position: center center fixed;
}